body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: grid;
  place-items: center;
  height: 100vh;
  justify-items: center;
  box-sizing: border-box;
  margin: 0;
}

main {
  width: 300px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  h1 {
    text-align: center;
    color: #333;
  }

  label {
    display: block;
    margin-top: 10px;
    color: #555;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #218838;
    }
  }

  button2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 97%;
    padding: 5px;
    margin-top: 15px;
    background-color: #0667f8;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      background-color: #2a28a7;
    }

  }

  #mensagem {
    background-color: #f8d7da;
    border-radius: 4px;
    padding: 10px 0;
    margin-top: 15px;
    text-align: center;
    color: red;
    font-weight: bold;
    display: none;
    transition: all 0.3s ease;
  }
}